$black:#181818;


@media only screen and (max-width: 900px) {
  .mobile_view{
    display:inherit !important;
  }
  .mobile_hidden{
    display:none !important;
  }
 .header{
   padding:0px 20px;
   height:52px;
   z-index: 100;
   position: fixed;
   left:0px;
   top:0px;
   right:0px;
   .header_tl{
     background-color: #fff;
     position: absolute;
     top:0px;
     left:0px;
     width:100%;
     height:52px;
     display:flex;
     align-items: center;
     padding:0px 20px;
     box-sizing: border-box;
     z-index: 100;

   }
   &.white{
     .header_tl{
       background-color: transparent;
     }
     .search_section{
       border: none;
     }
     .mobile_menu{
       .mm_ic_container{
         .mm_ic{
           background-color: #fff;
         }
       }
     }
   }
   &.fixed{
     height: 54px;
   }
   &.active{
     .mobile_menu_section{
       right:0px;
     }
     &::after{
       content: '';
       position: fixed;
       background-color: rgba(0,0,0,0.7);
       top:0px;
       left:0px;
       bottom:0px;
       right:0px;
       z-index: 90;
     }
   }

   .mobile_menu_section{
     display:inherit;
     position: fixed;
     z-index: 99;
     top:0px;
     right:-350px;
     background-color: #fff;
     width:300px;
     box-sizing: border-box;
     bottom:0px;
     padding-top:80px;
     box-sizing: border-box;
     transition-duration: 0.2s;
     .main_menu{
       justify-content: flex-start;
       margin-left:40px;

       ul{
         display:flex;
         flex-direction: column;
         flex-wrap: wrap;
         li{
           display:flex;
           margin-left:0px;
           margin-bottom:20px;
           &::after{
             display:none;
           }
           .mm_t{
             position: relative;
           }
         }
       }
     }
    .sub_menu{
      position: absolute;
      bottom:50px;
      left:40px;
      font-size:13px;
      font-weight:500;
      ul li{
        margin-top:10px;
      }
    }

   }
   .logo_section{
     margin-top:10px;
     img{
       width:34px;
     }
   }
   &>.main_menu{
     display:none;
   }

   .search_section{
     position: absolute;
     right:42px;
     top:9px;
     margin-right:0px;
     padding-left:0px;
     margin-left:0px;
     &.active{
       padding-left:15px;
       height:38px;
       input{
         width:230px;
         height:42px;
         font-size:13px;
       }
       img{
         right:13px;
       }
     }
     input{
       width:0px;
       padding:0px;
     }
     img{
       width:18px;
     }
   }

   .mobile_menu{
     position: absolute;
     right:20px;
     top:19px;
     width:22px;
     height:22px;
     &.active{
       .mm1{
         transform: translateY(7px) rotateZ(45deg);
       }
       .mm2{
         transform: scaleX(0);
       }
       .mm3{
         transform: translateY(-7px) rotateZ(-45deg);
       }
     }
     .mm_ic_container{
       position: relative;
       width: 100%;
       .mm_ic{
         display:inline-block;
         width:22px;
         height:2.5px;
         border-radius: 2px;
         background-color: $black;
         position: absolute;
         top:0px;
         right:0px;
         transition-duration: 0.2s;
         &.mm2{
           top:7px;
         }
         &.mm3{
           top:14px;
         }
       }
     }

   }
 }
  .contents_wrap{
    .intro{
      &.intro1{
        .main_copy_section{
          left:0px;
          width:100%;
          margin-top:-110px;
          .main_copy{
            font-size:34px;
            line-height: 48px;
            text-align: center;
          }
          .sub_copy{
            margin-top:20px;
            font-size:15px;
            text-align: center;
          }
          .bt_section{
            margin-top:40px;
            text-align: center;
          }
        }

      }
      &.intro2{
        padding:50px 20px;
        .section_title{
          font-size:14px;
        }
        .main_copy{
          font-size:15px;
          line-height: 28px;
        }
      }
      &.intro3{
        padding:60px 20px;
        .deco_img{
          right:0px;
          text-align: right;
         img{
           width:50%;
         }
        }
        .main_copy{
          font-size:18px;
          line-height: 28px;
          position: relative;
          z-index: 5;
        }
        .strength_items{
          margin-top:60px;
          flex-direction: column;
          .st_item{
            margin-bottom:40px;
            margin-right:0px;
            .st_title{
              font-size:16px;
            }
            .st_contents{
              margin-top:20px;
              font-size:14px;
              line-height: 24px;
            }
          }
        }
      }
      &.intro4{
        padding:0px 20px 30px;
        .section_title{
          font-size:18px;
        }
        .tool_items{
          margin-top:60px;
          flex-direction: column;
          .tool_list{
            width:100%;
            .tool_item{
              margin-bottom:30px;
              img{
                width:30px;
                height:30px;
                margin-right:15px;
              }
              .tool_contents{
                .tool_name{
                  font-size:15px;
                }
                .tool_desc{
                  margin-top:10px;
                  font-size:14px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
      &.intro5{
        padding:50px 20px;
        .section_title{
          font-size:18px;
        }
        .price_items{
          margin-top:30px;
          flex-direction: column;
          .pr_item{
            width:100%;
            margin-bottom:20px;
            border:1px solid #eee;
            .pr_title{
              font-size:16px;
            }
            .pr_tags{
              margin-top:10px;
              .pr_tag{
                font-size:13px;
                padding:8px 15px;
              }
            }
            .pr_price{

              .pr_value{
                font-size:18px;
              }
              .pr_sub_desc{
                font-size:14px;
              }
            }
            .pr_contents{
              height:100%;
              .pr_desc{
                margin-top:20px;
              }
            }
            .pr_bt_section{
              margin-top:30px;
            }
          }
        }
      }
      &.intro6{
        padding:50px 20px;
        height:100%;
        background-position: center center;
        .process_section{
          font-size:14px;
        }
        .copy_items{
          margin-bottom:20px;
          margin-top:30px;
          .copy_item{
            width:100%;
            margin-left:-50%;
            .main_copy{
              font-size:15px;
              font-weight:500;
              line-height: 28px;
              .t_deco_start,.t_deco_end{
                  font-size:20px;
                display:none;
              }

            }
            .copy_writer{
              font-weight:500;
              margin-top:20px;
              font-size:13px;
            }
          }
        }
      }
      &.intro7{
        padding:50px 0px;
        .section_title{
          font-size:18px;
        }
        .faq_items{
          margin-top:30px;
          .faq_item{
            .faq_header{
              flex-wrap: wrap;
              padding:15px 20px;
              height:100%;
              font-size:14px;
              .faq_num{
                width:35px;
              }
              .faq_cate{
                display:none;
              }
              .faq_deco{
                width:20px;
                display:none;
                img{
                  width:10px;
                }
              }
            }
            .faq_contents{
              padding:20px 20px 20px;
              font-size:14px;
              line-height: 24px;
              .faq_num{
                font-size:14px;
                margin-bottom:10px;
              }
            }
          }
        }
      }
    }
    .filter_section{
      padding:52px 20px 0px;
      height:45px;
      justify-content: space-between;
      position: relative;
      &.active{
        .ft_title{
          img{
            transform: rotateZ(180deg);
          }
        }
      }
      .sub_filter_section{
        position: absolute;
        top: 90px;
        left: 0px;
        right:0px;
        padding:15px 20px;
        background-color: #fff;
        z-index: 10;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        .ft_tags{
          margin-left:0px;
          margin-top:10px;
          font-size:13px;
          .tag_item{
            padding:0px;
          }
        }

      }
      .ft_deco{
        display:flex;
        align-items: center;
        img{
          width:13px;
          margin-top: 1px;
        }
        .ft_title{
          font-size:14px;
          font-weight:600;
          img{
              width:10px;
              margin-left:4px;
            transition-duration: 0.2s;
          }
        }
      }
      .mobile_filter_section{
        position: absolute;
        left:0px;
        top:44px;
        background-color: #fff;
        z-index: 5;
        padding:12px 20px 18px;
        box-shadow: 0px 5px 3px rgba(0,0,0,0.3);
        .ft_programs{
          margin-top:15px;
          ul li{
            font-size:13px;
            display:inline-block;
            padding:8px 12px;
            border-radius:20px ;
            border: 1px solid #ddd;
            margin-right:7px;
            margin-bottom:7px;
          }
        }
      }
      .ft_process{

        flex-wrap: wrap;
        font-size:13px;
        .ftp_item{
          margin-right:10px;
          margin-bottom:10px;
          img{
            margin-left:7px;
            width:7px;
          }
        }
      }
      .ft_right_section{
        font-size:14px;
        .ftr_select_item{
          margin-left:15px;
          .ftr_selected img{
            margin-left:1px;
          }
        }

      }
    }
    .tutorial_items{
      padding:15px 0px;
      .tt_item{
        display:block;
        margin:0px 0px 15px;
        width:100%;

        .tt_contents{
          padding:15px 20px;
          .tt_title{
            font-size:17px;
            line-height: 25px;
          }
          .tt_bottom{
            .tt_writer{
              font-size:14px;
            }
          }
        }

      }
    }
    .tutorial_detail{
      .section_title{
        font-size:15px;
      }
      &.td1{
        .td_title{
          font-size:28px;
          line-height: 42px;
          padding:0px 20px;
          .td_subtitle{
            margin-top:15px;
            font-size:14px;
          }
        }
        .td_writer{
          left:20px;
          font-size:14px;
          .user_profile{
            width:30px;
            height:30px;
          }
        }
        .td_programs{
          right:20px;
          img{
            width:28px;
            margin-left:8px;
          }
        }
      }
      &.td2{
        padding:30px 20px;
        font-size:15px;
        line-height: 30px;
      }
      &.td3{
        padding:30px 0px;
        .section_title{
          padding:0px 20px;
        }
        .course_items{
          margin-top:15px;
          .course_item{
            font-size:14px;
            padding:17px 20px;
            height:100%;
            .cs_step,.cs_time{
              width:60px;
            }
          }

        }
      }
      &.td4{
        margin-top:50px;
        .video_items{
          .video_item{
            margin-bottom: 80px;
            .vd_title{
              font-size:15px;
              padding:0px 20px;
            }
            .vd_video{
              margin-top:15px;
              iframe{
                width:100%;
                height:210px;
              }
            }
            .vd_info{
              padding:0px 20px;
              font-size:14px;
              img{
                height:20px;
                margin-right:7px;
              }
            }
            .vd_contents{
              font-size:14px;
              line-height: 30px;
              padding:0px 20px;
              margin-top:30px;
            }
          }
        }
      }
      &.td5{
        margin-top:100px;
        .tutorial_items{
          .tt_item{
            width:100%;
            max-width: 100%;
          }
        }
      }
    }
  }
  .footer{
    padding:20px;
    height:300px;
    .ft_menu{
      .ftm_item{
        font-size:13px;
        margin-right:15px;
      }
    }
    .ft_company{
      margin-top:15px;
      font-size:12px;
      line-height: 25px;
    }
    .ft_copyright{
      font-size:12px;
      right:20px;
    }
  }

  .default_bt{
    font-size:14px;
    &.join_bt{
      margin:0px auto;
      font-size:16px;
      width:180px;
      height:54px;
      border-width: 1px;
    }
    &.go_to_price_bt{
      font-size:15px;
      height:54px;
      border-width: 1px;
    }
  }

}


