@media only screen and (max-width: 900px) {
  .mobile_view {
    display: inherit !important;
  }

  .mobile_hidden {
    display: none !important;
  }

  .header {
    padding: 0px 20px;
    height: 52px;
    z-index: 100;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
  }
  .header .header_tl {
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    z-index: 100;
  }
  .header.white .header_tl {
    background-color: transparent;
  }
  .header.white .search_section {
    border: none;
  }
  .header.white .mobile_menu .mm_ic_container .mm_ic {
    background-color: #fff;
  }
  .header.fixed {
    height: 54px;
  }
  .header.active .mobile_menu_section {
    right: 0px;
  }
  .header.active::after {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 90;
  }
  .header .mobile_menu_section {
    display: inherit;
    position: fixed;
    z-index: 99;
    top: 0px;
    right: -350px;
    background-color: #fff;
    width: 300px;
    box-sizing: border-box;
    bottom: 0px;
    padding-top: 80px;
    box-sizing: border-box;
    transition-duration: 0.2s;
  }
  .header .mobile_menu_section .main_menu {
    justify-content: flex-start;
    margin-left: 40px;
  }
  .header .mobile_menu_section .main_menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header .mobile_menu_section .main_menu ul li {
    display: flex;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .header .mobile_menu_section .main_menu ul li::after {
    display: none;
  }
  .header .mobile_menu_section .main_menu ul li .mm_t {
    position: relative;
  }
  .header .mobile_menu_section .sub_menu {
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 13px;
    font-weight: 500;
  }
  .header .mobile_menu_section .sub_menu ul li {
    margin-top: 10px;
  }
  .header .logo_section {
    margin-top: 10px;
  }
  .header .logo_section img {
    width: 34px;
  }
  .header > .main_menu {
    display: none;
  }
  .header .search_section {
    position: absolute;
    right: 42px;
    top: 9px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .header .search_section.active {
    padding-left: 15px;
    height: 38px;
  }
  .header .search_section.active input {
    width: 230px;
    height: 42px;
    font-size: 13px;
  }
  .header .search_section.active img {
    right: 13px;
  }
  .header .search_section input {
    width: 0px;
    padding: 0px;
  }
  .header .search_section img {
    width: 18px;
  }
  .header .mobile_menu {
    position: absolute;
    right: 20px;
    top: 19px;
    width: 22px;
    height: 22px;
  }
  .header .mobile_menu.active .mm1 {
    transform: translateY(7px) rotateZ(45deg);
  }
  .header .mobile_menu.active .mm2 {
    transform: scaleX(0);
  }
  .header .mobile_menu.active .mm3 {
    transform: translateY(-7px) rotateZ(-45deg);
  }
  .header .mobile_menu .mm_ic_container {
    position: relative;
    width: 100%;
  }
  .header .mobile_menu .mm_ic_container .mm_ic {
    display: inline-block;
    width: 22px;
    height: 2.5px;
    border-radius: 2px;
    background-color: #181818;
    position: absolute;
    top: 0px;
    right: 0px;
    transition-duration: 0.2s;
  }
  .header .mobile_menu .mm_ic_container .mm_ic.mm2 {
    top: 7px;
  }
  .header .mobile_menu .mm_ic_container .mm_ic.mm3 {
    top: 14px;
  }

  .contents_wrap .intro.intro1 .main_copy_section {
    left: 0px;
    width: 100%;
    margin-top: -110px;
  }
  .contents_wrap .intro.intro1 .main_copy_section .main_copy {
    font-size: 34px;
    line-height: 48px;
    text-align: center;
  }
  .contents_wrap .intro.intro1 .main_copy_section .sub_copy {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
  }
  .contents_wrap .intro.intro1 .main_copy_section .bt_section {
    margin-top: 40px;
    text-align: center;
  }
  .contents_wrap .intro.intro2 {
    padding: 50px 20px;
  }
  .contents_wrap .intro.intro2 .section_title {
    font-size: 14px;
  }
  .contents_wrap .intro.intro2 .main_copy {
    font-size: 15px;
    line-height: 28px;
  }
  .contents_wrap .intro.intro3 {
    padding: 60px 20px;
  }
  .contents_wrap .intro.intro3 .deco_img {
    right: 0px;
    text-align: right;
  }
  .contents_wrap .intro.intro3 .deco_img img {
    width: 50%;
  }
  .contents_wrap .intro.intro3 .main_copy {
    font-size: 18px;
    line-height: 28px;
    position: relative;
    z-index: 5;
  }
  .contents_wrap .intro.intro3 .strength_items {
    margin-top: 60px;
    flex-direction: column;
  }
  .contents_wrap .intro.intro3 .strength_items .st_item {
    margin-bottom: 40px;
    margin-right: 0px;
  }
  .contents_wrap .intro.intro3 .strength_items .st_item .st_title {
    font-size: 16px;
  }
  .contents_wrap .intro.intro3 .strength_items .st_item .st_contents {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
  }
  .contents_wrap .intro.intro4 {
    padding: 0px 20px 30px;
  }
  .contents_wrap .intro.intro4 .section_title {
    font-size: 18px;
  }
  .contents_wrap .intro.intro4 .tool_items {
    margin-top: 60px;
    flex-direction: column;
  }
  .contents_wrap .intro.intro4 .tool_items .tool_list {
    width: 100%;
  }
  .contents_wrap .intro.intro4 .tool_items .tool_list .tool_item {
    margin-bottom: 30px;
  }
  .contents_wrap .intro.intro4 .tool_items .tool_list .tool_item img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .contents_wrap .intro.intro4 .tool_items .tool_list .tool_item .tool_contents .tool_name {
    font-size: 15px;
  }
  .contents_wrap .intro.intro4 .tool_items .tool_list .tool_item .tool_contents .tool_desc {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
  }
  .contents_wrap .intro.intro5 {
    padding: 50px 20px;
  }
  .contents_wrap .intro.intro5 .section_title {
    font-size: 18px;
  }
  .contents_wrap .intro.intro5 .price_items {
    margin-top: 30px;
    flex-direction: column;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #eee;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item .pr_title {
    font-size: 16px;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item .pr_tags {
    margin-top: 10px;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item .pr_tags .pr_tag {
    font-size: 13px;
    padding: 8px 15px;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item .pr_price .pr_value {
    font-size: 18px;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item .pr_price .pr_sub_desc {
    font-size: 14px;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item .pr_contents {
    height: 100%;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item .pr_contents .pr_desc {
    margin-top: 20px;
  }
  .contents_wrap .intro.intro5 .price_items .pr_item .pr_bt_section {
    margin-top: 30px;
  }
  .contents_wrap .intro.intro6 {
    padding: 50px 20px;
    height: 100%;
    background-position: center center;
  }
  .contents_wrap .intro.intro6 .process_section {
    font-size: 14px;
  }
  .contents_wrap .intro.intro6 .copy_items {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .contents_wrap .intro.intro6 .copy_items .copy_item {
    width: 100%;
    margin-left: -50%;
  }
  .contents_wrap .intro.intro6 .copy_items .copy_item .main_copy {
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
  }
  .contents_wrap .intro.intro6 .copy_items .copy_item .main_copy .t_deco_start, .contents_wrap .intro.intro6 .copy_items .copy_item .main_copy .t_deco_end {
    font-size: 20px;
    display: none;
  }
  .contents_wrap .intro.intro6 .copy_items .copy_item .copy_writer {
    font-weight: 500;
    margin-top: 20px;
    font-size: 13px;
  }
  .contents_wrap .intro.intro7 {
    padding: 50px 0px;
  }
  .contents_wrap .intro.intro7 .section_title {
    font-size: 18px;
  }
  .contents_wrap .intro.intro7 .faq_items {
    margin-top: 30px;
  }
  .contents_wrap .intro.intro7 .faq_items .faq_item .faq_header {
    flex-wrap: wrap;
    padding: 15px 20px;
    height: 100%;
    font-size: 14px;
  }
  .contents_wrap .intro.intro7 .faq_items .faq_item .faq_header .faq_num {
    width: 35px;
  }
  .contents_wrap .intro.intro7 .faq_items .faq_item .faq_header .faq_cate {
    display: none;
  }
  .contents_wrap .intro.intro7 .faq_items .faq_item .faq_header .faq_deco {
    width: 20px;
    display: none;
  }
  .contents_wrap .intro.intro7 .faq_items .faq_item .faq_header .faq_deco img {
    width: 10px;
  }
  .contents_wrap .intro.intro7 .faq_items .faq_item .faq_contents {
    padding: 20px 20px 20px;
    font-size: 14px;
    line-height: 24px;
  }
  .contents_wrap .intro.intro7 .faq_items .faq_item .faq_contents .faq_num {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .contents_wrap .filter_section {
    padding: 52px 20px 0px;
    height: 45px;
    justify-content: space-between;
    position: relative;
  }
  .contents_wrap .filter_section.active .ft_title img {
    transform: rotateZ(180deg);
  }
  .contents_wrap .filter_section .sub_filter_section {
    position: absolute;
    top: 90px;
    left: 0px;
    right: 0px;
    padding: 15px 20px;
    background-color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contents_wrap .filter_section .sub_filter_section .ft_tags {
    margin-left: 0px;
    margin-top: 10px;
    font-size: 13px;
  }
  .contents_wrap .filter_section .sub_filter_section .ft_tags .tag_item {
    padding: 0px;
  }
  .contents_wrap .filter_section .ft_deco {
    display: flex;
    align-items: center;
  }
  .contents_wrap .filter_section .ft_deco img {
    width: 13px;
    margin-top: 1px;
  }
  .contents_wrap .filter_section .ft_deco .ft_title {
    font-size: 14px;
    font-weight: 600;
  }
  .contents_wrap .filter_section .ft_deco .ft_title img {
    width: 10px;
    margin-left: 4px;
    transition-duration: 0.2s;
  }
  .contents_wrap .filter_section .mobile_filter_section {
    position: absolute;
    left: 0px;
    top: 44px;
    background-color: #fff;
    z-index: 5;
    padding: 12px 20px 18px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
  }
  .contents_wrap .filter_section .mobile_filter_section .ft_programs {
    margin-top: 15px;
  }
  .contents_wrap .filter_section .mobile_filter_section .ft_programs ul li {
    font-size: 13px;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: 7px;
    margin-bottom: 7px;
  }
  .contents_wrap .filter_section .ft_process {
    flex-wrap: wrap;
    font-size: 13px;
  }
  .contents_wrap .filter_section .ft_process .ftp_item {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .contents_wrap .filter_section .ft_process .ftp_item img {
    margin-left: 7px;
    width: 7px;
  }
  .contents_wrap .filter_section .ft_right_section {
    font-size: 14px;
  }
  .contents_wrap .filter_section .ft_right_section .ftr_select_item {
    margin-left: 15px;
  }
  .contents_wrap .filter_section .ft_right_section .ftr_select_item .ftr_selected img {
    margin-left: 1px;
  }
  .contents_wrap .tutorial_items {
    padding: 15px 0px;
  }
  .contents_wrap .tutorial_items .tt_item {
    display: block;
    margin: 0px 0px 15px;
    width: 100%;
  }
  .contents_wrap .tutorial_items .tt_item .tt_contents {
    padding: 15px 20px;
  }
  .contents_wrap .tutorial_items .tt_item .tt_contents .tt_title {
    font-size: 17px;
    line-height: 25px;
  }
  .contents_wrap .tutorial_items .tt_item .tt_contents .tt_bottom .tt_writer {
    font-size: 14px;
  }
  .contents_wrap .tutorial_detail .section_title {
    font-size: 15px;
  }
  .contents_wrap .tutorial_detail.td1 .td_title {
    font-size: 28px;
    line-height: 42px;
    padding: 0px 20px;
  }
  .contents_wrap .tutorial_detail.td1 .td_title .td_subtitle {
    margin-top: 15px;
    font-size: 14px;
  }
  .contents_wrap .tutorial_detail.td1 .td_writer {
    left: 20px;
    font-size: 14px;
  }
  .contents_wrap .tutorial_detail.td1 .td_writer .user_profile {
    width: 30px;
    height: 30px;
  }
  .contents_wrap .tutorial_detail.td1 .td_programs {
    right: 20px;
  }
  .contents_wrap .tutorial_detail.td1 .td_programs img {
    width: 28px;
    margin-left: 8px;
  }
  .contents_wrap .tutorial_detail.td2 {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 30px;
  }
  .contents_wrap .tutorial_detail.td3 {
    padding: 30px 0px;
  }
  .contents_wrap .tutorial_detail.td3 .section_title {
    padding: 0px 20px;
  }
  .contents_wrap .tutorial_detail.td3 .course_items {
    margin-top: 15px;
  }
  .contents_wrap .tutorial_detail.td3 .course_items .course_item {
    font-size: 14px;
    padding: 17px 20px;
    height: 100%;
  }
  .contents_wrap .tutorial_detail.td3 .course_items .course_item .cs_step, .contents_wrap .tutorial_detail.td3 .course_items .course_item .cs_time {
    width: 60px;
  }
  .contents_wrap .tutorial_detail.td4 {
    margin-top: 50px;
  }
  .contents_wrap .tutorial_detail.td4 .video_items .video_item {
    margin-bottom: 80px;
  }
  .contents_wrap .tutorial_detail.td4 .video_items .video_item .vd_title {
    font-size: 15px;
    padding: 0px 20px;
  }
  .contents_wrap .tutorial_detail.td4 .video_items .video_item .vd_video {
    margin-top: 15px;
  }
  .contents_wrap .tutorial_detail.td4 .video_items .video_item .vd_video iframe {
    width: 100%;
    height: 210px;
  }
  .contents_wrap .tutorial_detail.td4 .video_items .video_item .vd_info {
    padding: 0px 20px;
    font-size: 14px;
  }
  .contents_wrap .tutorial_detail.td4 .video_items .video_item .vd_info img {
    height: 20px;
    margin-right: 7px;
  }
  .contents_wrap .tutorial_detail.td4 .video_items .video_item .vd_contents {
    font-size: 14px;
    line-height: 30px;
    padding: 0px 20px;
    margin-top: 30px;
  }
  .contents_wrap .tutorial_detail.td5 {
    margin-top: 100px;
  }
  .contents_wrap .tutorial_detail.td5 .tutorial_items .tt_item {
    width: 100%;
    max-width: 100%;
  }

  .footer {
    padding: 20px;
    height: 300px;
  }
  .footer .ft_menu .ftm_item {
    font-size: 13px;
    margin-right: 15px;
  }
  .footer .ft_company {
    margin-top: 15px;
    font-size: 12px;
    line-height: 25px;
  }
  .footer .ft_copyright {
    font-size: 12px;
    right: 20px;
  }

  .default_bt {
    font-size: 14px;
  }
  .default_bt.join_bt {
    margin: 0px auto;
    font-size: 16px;
    width: 180px;
    height: 54px;
    border-width: 1px;
  }
  .default_bt.go_to_price_bt {
    font-size: 15px;
    height: 54px;
    border-width: 1px;
  }
}

/*# sourceMappingURL=mobile.css.map */
