body {
  margin: 0;
  font-weight: 500;
  font-family: "Roboto", "Noto Sans KR", "Noto Sans", sans-serif;
  color: #181818;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
